Source: gnucap
Section: electronics
Priority: optional
Maintainer: Henrik Johansson <henrik@johome.net>
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 8), libreadline6-dev, autotools-dev, autoconf, automake, libtool
#, hevea, texlive
Homepage: http://gnucap.org

Package: gnucap-bin
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: GNU Circuit Analysis package
 GNUCAP is a general purpose circuit simulator.  It performs nonlinear
 dc and transient analyses, Fourier analysis, and ac analysis
 linearized at an operating point.  It is fully interactive and
 command driven.  It can also be run in batch mode or as a server.
 The output is produced as it simulates.  Spice compatible models
 for the MOSFET (level 1,2,3) and diode are included in this
 release.

Package: libgnucap
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libreadline6
Description: GNU Circuit Analysis package shared library
 GNUCAP is a general purpose circuit simulator.  It performs nonlinear
 dc and transient analyses, Fourier analysis, and ac analysis
 linearized at an operating point.  It is fully interactive and
 command driven.  It can also be run in batch mode or as a server.
 The output is produced as it simulates.  Spice compatible models
 for the MOSFET (level 1,2,3) and diode are included in this
 release.

Package: libgnucap-dev
Architecture: any
Depends: libgnucap (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}, libreadline6-dev
Description: GNU Circuit Analysis package shared library
 GNUCAP is a general purpose circuit simulator.  It performs nonlinear
 dc and transient analyses, Fourier analysis, and ac analysis
 linearized at an operating point.  It is fully interactive and
 command driven.  It can also be run in batch mode or as a server.
 The output is produced as it simulates.  Spice compatible models
 for the MOSFET (level 1,2,3) and diode are included in this
 release.

